<h1> Create a Blog</h1>

<form action="/api/blogs" method="POST">

    <input placeholder="enter title" type="text" name="title" id="title" />
    <br/>
    <input placeholder="enter content" type="text" name="content" id="content" />
    <br/>
    <input type="submit"/>

</form>